$primary: #57b846;
$primary-light: #34ec14;
$primary-grey: #bdbdbd;
$primary-dark-light: #192734;
$primary-dark: #15212b;

$font-primary: $primary;
$font-primary-opacity80: #1da0f2cc;
$font-light: #fff;
$font-grey: $primary-grey;
$font-dark: #333;

$border-primary: $primary;
$border-light: #fff;
$border-grey: #d9d9d9;
$border-dark-bottom: #d9d9d9;
$border-dark: $primary-dark;

$background-light: #fff;
$background-grey-dark: $primary-dark;
$background-dark-light: $primary-dark-light;

$danger: #e0245e;

$white: #ffffff;
